<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<p>Puppy Name:</p>
<p><%= @puppy.name %></p>
<p>Puppy Age:</p>
<p><%= @puppy.age %></p>
<p>Puppy Breed:</p>
<p><%= @puppy.breed %></p>
</body>
</html>